*,html { /* untuk melapisi semua yang ada  */
    margin : 0;
    padding : 0;
}

body {
    
}

/* Jika menggunakan div class, maka untuk memanggil nya di css menggunakan titik(.) */
/* Jika menggunakan id, maka untuk memanggilnya di css menggunakan pagar(#) */

.container-navbar {
    background-color: rgb(151, 202, 168);
    height : 100px; /* tinggi dari container-navbar */
    width : 100%;
    /* tinggi dari  */
}

.ul-navbar {
    display : flex; /* berfungsi agar posisi home, dll berurutan ke samping  */
    height: 100px; /*tinggi dari ul-navbar*/
    justify-content: center; /*untuk menengahkan items*/
    align-items: center; /*untuk menengahkan itemnya dari tinggi*/
}

.li-navbar { /*bagian untuk tulisan home, dll*/

    border : 1px solid white; /*untuk bikin border tulisan berwarna putih*/
    border-radius: 80px;  /* Ini supaya bentuk pinggirannya tidak kotak */
    background-color: rgb(158, 108, 108); /*untuk bikin background tulisan home, dll */
    list-style-type:none;/*Ini untuk menghilangkan titik titik*/
    padding : 10px; /*untuk ukuran kotak*/
    margin : 5px; /* untuk bikin jarak antar home, dll */
    color : white;
    font-size: 30px;

}

.li-navbar:hover { /*ini untuk memberikan warna ketika cursor mengarah ke home,dll*/
    background-color : rgb(174, 220, 192);
    transition : .2s ease-in-out; /*ini untuk memberikan transisi*/
    transition-delay: .3s;
    border-radius : 80px; /*untuk memberikan bentuk yang kubus*/
}

.a-navbar {
    color: white;
    text-decoration: none; /*ini digunakan agar tidak terdapat garis bawah ditulisan home, dll*/
    font-weight: 800px;
}

.container-content {
    background-color:rgb(244, 202, 209);
    display : flex;
    justify-content: space-between;
    align-items: center;
    height : 100vh;
    flex-direction: row;
    
    
}

 .a-content {
    background-color: rgb(235, 224, 191);
    width: 520px;
    height : 380px;
    font-size : 30px;
    display: flex; 
    align-items: center; 
    justify-content :center; 
    margin-right: 20px;
    border-radius: 80px;   /* untuk memberi bulatan di luar gambar */
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); 
    margin-left: 10px;
    margin-right:70px

 } 

.image-content {
    width : 250px;
    height : 300px;
    justify-content: center;
    align-items: center;
    background-image: none;
}

.tulisan{
    font-size: 50px;
    margin-left: 50px;
    font-style:initial;
    
}

.container-footer {
    background-color:rgb(143, 188, 143);
    display: flex; 
    justify-content: center;
    align-items: center;

}

.h1-footer {
    font-size: 50px;
    color: white;
}



